<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User: {{ user.username }}</title>
</head>
<body>
<label>
    <h1>Użytkownik: {{ user.username }}</h1>
    <h2>Lista aukcji:</h2>
        {% for auction in auctions %}
            <li><a href='/auction/{{ auction.id }}'>{{ auction.name }}</a></li>
        <li>Usuń aukcję:
        <a href="/auction/{{ auction.id }}/delete"> USUŃ </a>

    {% endfor %}
    <h2>Lista wiadomości:</h2>
        {% for message in messages %}
        <li><a href="/user/{{ user.id }}/inbox/{{ message.id }}"> Inbox </a></li>
            <button type="button" onclick="location.href='/user/{{ user.id }}/inbox/{{ message.id }}'">Read</button>
        {% endfor %}
</label>
   <li> <button type="button" onclick="location.href='/user/{{ user.id }}/sentbox/'">send msg</button></li>
</body>
</html>